# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBxq-yUENAvcBcFpimVbplxoZH0fjUCaJQ
VITE_FIREBASE_AUTH_DOMAIN=nexus-ca997.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexus-ca997
VITE_FIREBASE_STORAGE_BUCKET=nexus-ca997.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=983921569475
VITE_FIREBASE_APP_ID=1:983921569475:web:9720adf2d0fa3c4ab3fc76
